@import 'styles/variables';

.Logo-Img {
    display: block;
    width: 100px;
    height: 19px;

    @include tablet {
        width: 166px;
        height: 42px;
    }

    @include desktop {
        width: 200px;
        height: 52px;
    }
}
